@model Exam



<form asp-action="AddExam" asp-controller="Home" asp-area="Admin" method="post">

    <div class="row">
        <div class="col-10">
            <div class="row">
                <div class="form-group">
                    <label for="questionText">İmtahan mövzu adı</label>
                    <textarea type="text" class="form-control" id="questionText" placeholder="Imtahan mövzu adını daxil edin" asp-for="Name"></textarea>
                </div>
            </div>
            <br />
            <br />
        </div>
    </div>
    <div class="row">
        <div class="col-2">
            <button type="submit" class="btn btn-primary">Yadda saxla</button>
        </div>
    </div>
</form>
